[Unit]
Description=Run 5m Poly Bot auto wrap every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true
Unit=poly-bot-wrap.service

[Install]
WantedBy=timers.target
