[Unit]
Description=Run 5m Poly Bot auto redeem every 15 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=15min
RandomizedDelaySec=2min
Persistent=true
Unit=poly-bot-redeem.service

[Install]
WantedBy=timers.target
